.interlude{
  @include rale(bold);
  padding: 0 0 0 0;
  background: url('../assets/img/mountain.png') top right no-repeat;
  background-size: cover;
  color: #ffffff;
}

.content{
  height: 100%;
  padding: 50px 100px 0 50px;
  background: rgba(#15181e, .7);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
}

.logo{
  position: relative;
  width: 125px;
  height: 55px;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %img;
  }
}

.hotline{
  text-align: right;
  text-transform: uppercase;
}

.hotline__number{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

.hotline__desc{
  @include rale(sbold);
  font-size: 11px;
}

.pros{
  margin-bottom: 65px;
}

.pros__head{
  margin-bottom: 125px;
}

.pros__head-pre{
  margin-bottom: 30px;
  font-size: 21px;
  color: $accentcolor;
}

.pros__head-title{
  max-width: 800px;
  font-size: 56px;
}

.pros__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pros__item{
  @include rale(sbold);
  position: relative;
  width: 250px;
  padding-bottom: 20px;
  margin-right: 45px;
  font-size: 15px;
  border-bottom: 2px solid rgba(#ffffff, .5);
  transition: all .2s;
  cursor: pointer;
  &:last-child{
    margin-right: 0;
  }
  &:after{
    content: '';
    position: absolute;
    transition: all .5s;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: rgba($accentcolor, .5);
  }
  div{
    position: relative;
    z-index: 2;
    max-width: 190px;
  }
  &:hover{
    border-color: $accentcolor;
    &:after{
      height: 100%;
    }
  }
}

.anchor{
  text-align: right;
}

.anchor__btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 60px;
  background: $accentcolor;
  color: #ffffff;
  &:hover{
    .svg_arrow-down{
      animation-name: anchor;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }
}

.svg_arrow-down{
  margin-right: 15px;
  height: 40px;
  width: 30px;
  fill: #ffffff;
  transition: all .5s;
}

@keyframes anchor{
  0% {
    transform: translate(0, 0);
  }
  50%{
    transform: translate(0, 15%);
  }
  100%{
    transform: translate(0, 0);
  }
}



