.interlude{
  @include rale(bold);
  background: url('../assets/img/mountain.png') top right no-repeat;
  background-size: cover;
  color: #ffffff;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 100px 0 50px;
  background: rgba(#15181e, .7);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  position: relative;
  display: block;
  width: 125px;
  height: 55px;
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba($accentcolor, .5);
    content: '';
    transition: all .5s;
  }
  img{
    @extend %img;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover{
    &:after{
      height: 100%;
    }
  }
}

.hotline{
  display: block;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  &:hover{
    .hotline__number{
      animation-name: colors-text;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }
}

.hotline__number{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}

.hotline__desc{
  @include rale(sbold);
  font-size: 11px;
}

.pros__head{
  margin-bottom: 125px;
}

.pros__head-pre{
  margin-bottom: 30px;
  font-size: 21px;
  color: $accentcolor;
}

.pros__head-title{
  max-width: 800px;
  font-size: 56px;
}

.pros__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pros__item{
  @include rale(sbold);
  position: relative;
  width: 250px;
  padding-bottom: 20px;
  margin-right: 45px;
  font-size: 15px;
  border-bottom: 2px solid rgba(#ffffff, .5);
  cursor: pointer;
  transition: all .2s;
  &:last-child{
    margin-right: 0;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba($accentcolor, .5);
    content: '';
    transition: all .5s;
  }
  &:hover{
    border-color: $accentcolor;
    &:after{
      height: 100%;
    }
  }
}

.pros__link{
  position: relative;
  z-index: 2;
  display: block;
  max-width: 190px;
  color: #ffffff;
}

.anchor{
  text-align: right;
}

.anchor__btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 60px;
  background: $accentcolor;
  color: #ffffff;
  &:hover{
    .svg_arrow-down{
      animation-name: anchor;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }
}

.svg_arrow-down{
  width: 30px;
  height: 40px;
  margin-right: 15px;
  fill: #ffffff;
  transition: all .5s;
}

@keyframes anchor{
  0% {
    transform: translate(0, 0);
  }
  50%{
    transform: translate(0, 15%);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes colors-text {
  0% {
    color: #ffffff;
  }
  10% {
    color: $accentcolor;
  }
  20% {
    color: #6D4C41;
  }
  30% {
    color: #00BCD4;
  }
  40% {
    color: #FFFF00;
  }
  50% {
    color: #212121;
  }
  60% {
    color: #E91E63;
  }
  70% {
    color: #c62828;
  }
  80% {
    color: #F4511E;
  }
  90% {
    color: #9C27B0;
  }
  100% {
    color: #ffffff;
  }
}


